.update-node-form {
    display: flex;

    .select {
        width: 200px;
    }

    .button {
        width: 200px;
    }

    .text-sep {
        display: flex;
        align-items: center;
        margin: 10px;
    }
}
